DEBUG=True
SECRET_KEY='django-insecure-vwvilq6ko9--vq9@j*oh06z+a#=*f+8r#k61(1d_hy=eq1q%0o'

# database config
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=brain_ag
POSTGRES_USER=brain_ag
POSTGRES_PASSWORD=brain_ag


# redis config
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81